// COLORS //
$white: #DCDDDE; // text color
$light-grey: #DCDDDE; // secondary nav bar color
$medium-grey: #36393F; //main background color
$dark-grey: #23272A; //nav bar background color
$blue: #2296F3;

