.header-menu {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    .header-menu-button{
        font-size: 27px;
        background-color: transparent;
        border: none;
        outline: none;
        color: rgb(220, 221, 222);
    }
    .header-menu{
        list-style: none;
    }
}

    @media (min-width: 600px) {
    .header-menu {
        position: relative;
        top: 0px;
        justify-content: space-around;
        text-align: center;
        z-index: 99;
        padding: 5px 0px;
        background: transparent;
        width: 300px;
        list-style: none;
    }
}
