@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(35, 39, 42);
    color: rgb(220, 221, 222);
    font-weight: 300;   
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

h1{
    font-size: 32px;
    
}